<div class="ui two columns grid segment">
    <div class="column">
        {{ form_row(form.title) }}
        {{ form_row(form.status) }}
        {{ form_row(form.product) }}
    </div>
    <div class="column">
        {{ form_row(form.content) }}
    </div>
    <div class="column">
        {{ form_row(form.blocks) }}
    </div>
</div>
